<%=form_tag(sessions_path) do %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%=label_tag :name, "Username"%><br>
    <%=text_field_tag :name%><br><br>

    <%=label_tag :password, "Password"%><br>
    <%=password_field_tag :password%><br><br>
    <%=submit_tag "Sign In"%>
<%end%>