<h2>Create a new Characteristic</h2>

<%=form_for(@characteristic) do |f|%>

    <%=f.label :name%><br>
    <%=f.text_field :name%><br><br>

    <%=f.label :description%><br>
    <%=f.text_field :description%><br><br>

    <%=f.submit "Create Characteristic"%>
<%end%>