<h2><%=@item_model.name%> Details</h2>

<h3>Product Item Category/Activity:</h3>

<h4>Activity</h4>
<%=link_to @item_model.item_category.activity.name, activity_path(@item_model.item_category.activity)%>

<h4>Item Category</h4>
<%=link_to @item_model.item_category.name, item_category_path(@item_model.item_category)%><br>


<h3>Product Characteristics:</h3>

<%=render partial: 'char_display', locals: {model: @item_model}%>

<br>

<%if params[:add_char]%>
    <%=render partial: 'add_char_form', locals: {model: @item_model, char: @characteristic, imc: @item_model_characteristic}%>
<%else%>
    <%=link_to "Add a Characteristic", item_model_path(@item_model, add_char: true)%>
<%end%>



