<!DOCTYPE html>
<html>
  <head>
    <title>Specialty Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="clear:both;">
      <div style="float:left;">
        <h1>Specialty Review</h1>
      </div>

      <div style="float:right;">
        <%if current_user%>
          <%=link_to "Activities", activities_path%><br>
          <%=link_to "Your Profile", user_path(current_user)%><br>
          <%=link_to "Log Out", signout_path, method: :delete%>
        <%end%>
      </div>
    </div>

    <div style="clear:both;">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <br>
      
      <%= yield %>
    </div>
  </body>
</html>
